<div class="container"
	<div class="row">
		<div class="col-md-10 col-lg-8 offset-md-1 offset-lg-2">

			<div class="card mt-5">
				<div class="card-header">
						<h3>To Do Lists</h3>
				</div>

				<div class="card-body">
					<div class="list-group">
						<% @todo_lists.each do |todo_list| %>
							<%= link_to todo_list_path(todo_list), class: 'text-decoration-none text-dark' do %>
								<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
									<div class="left-column">
										<%= todo_list.title %>
									</div>
									<div class="right-column">
										<%= todo_list.percent_completed %>% Completed
										(<%= todo_list.completed_items %>/<%= todo_list.total_items %> Items)
									</div>
								</div>
							<% end %>
					  <% end %>
					</div>
				</div>

				<div class="card-footer p-3">

					<div class="accordion" id="accordionExample">
					  <div class="accordion-item">
					    <h2 class="accordion-header" id="headingOne">
					      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					        <h3>New Todo List</h3>
					      </button>
					    </h2>
					    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					      <div class="accordion-body">
									<%= form_with model: @todo_list do |f| %>
										<div class='mb-3'>
											<%= f.label :title, class: 'form-label' %>
											<%= f.text_field :title, class: 'form-control' %>
										</div>

										<div class="mb-3">
											<%= f.submit 'Create Todo List', class: 'btn btn-outline-primary' %>
										</div>
									<% end %>
					      </div>
					    </div>
					  </div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>